<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.android.fetchXmlData">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.freelance.android.fetchXmlData.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freelance.android.fetchXmlData.activities.StockInfoActivity"
            android:label="@string/title_activity_stock_info"
            android:parentActivityName="com.freelance.android.fetchXmlData.activities.MainActivity"
            android:theme="@style/StockInfoTheme">
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.freelance.android.fetchXmlData.activities.MainActivity" />
        </activity>
    </application>

</manifest>